#!/bin/bash

#alias ls='ls -rthla'
#alias ll='ls -rthla'
alias ls='ls -rthlaG'
alias ll='ls -rthlaG'
#alias ls='nat -ug'
# Movement Shortcuts
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~="cd ~" # `cd` is probably faster to type though
alias b="cd .."
alias bb="cd ../.."

# cp with rsync progress bar
alias cp_p='rsync -aP'

#shortcuts
alias d="cd ~/Documents"
alias p="cd ~/Projects"
alias s="cd ~/School"
alias scripts="cd ~/scripts"
alias vm='cd ~/vmware'
alias h="cd ~"
alias notes="cd ~/notes"
alias notebooks="cd ~/notebooks"
alias dev='cd ~/Development'
alias D='cd ~/Development'
alias nas='cd /Volumes/T_Drive'
alias projects="cd ~/Projects"
alias school="cd ~/School"

# Line Count
alias lc='wc -l'
# Directory Size
alias dirsize='du -h -c |tail -1'

alias update_covid='git --git-dir=/Users/noah/Projects/notebooks/datasets/COVID-19/.git pull'

# Git shortcuts
#alias gs="git status"
alias gp="git pull"
alias gb="git branch"
alias ga="git add ."
alias glog="git log --graph --oneline --all"
alias gphard='git fetch --all && git reset --hard origin/master'
alias gc="git commit -m $1"
alias c_repo="gh repo create $1 --private"

# Start jupyter notebook in default location
alias jp="jupyter notebook"

# Virtual ENV Aliases
# Generate env
alias gen_env='virtualenv env -p python3'
# Activate Env
alias a_env='. env/bin/activate'
# Deactive Virtual ENV
alias d='deactivate'

alias sz='source ~/.zshrc'

alias dcd='docker-compose down'
alias dcu='docker-compose up --build'
alias shortcuts='rmd ~/notes/shortcuts.md'

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias c='clear'

#map vim/v to nvim
alias vim='nvim'
alias v='nvim'

#file manager
alias n='nnn'

# stocks
#alias stocks='ticker $(cat ~/.ticker.conf)'
#alias stock='ticker $(cat ~/.ticker.conf)'

# make executable
alias cx="chmod +x $1"

#Ctag current directory
alias tagdir="ctags -R -f ./.git/tags ."

# search aliases
alias salias="alias | grep $1"

#edit config files easier
alias vrc="$EDITOR ~/.vimrc"
alias zrc="$EDITOR ~/.zshrc"

#easy access vimwiki
alias vwiki="nvim -c ':VimwikiIndex'"
alias vdi="nvim -c ':VimwikiDiaryIndex'"
alias vdt="nvim -c ':VimwikiMakeDiaryNote'"

#jekyll development
alias jwatch="bundle exec jekyll serve --watch"

#List Stuff
alias list="cat ~/list.txt"
alias tlist="tail ~/list.txt"
alias elist="$EDITOR ~/list.txt"
alias clearlist="echo '' > ~/list.txt"

alias t='htop'
#alias top='htop'

alias nkube='kubectl --kubeconfig ~/.kube/ncover_cluster_config'
alias okube='kubectl -n dev-odin'

alias dockerclean="docker image prune --all -f && docker container prune -f"

alias dkube="kubectl --kubeconfig /Users/noah/vmware/dev-odin/odin-k8s/kube-configs/devf.config"

# Download Url and All sub directories, ignore auto generated files
alias dwnld_url="wget -r -np -R 'index.html*' $1" 

#Matlab CLI
alias matlab='/Applications/MATLAB_R2020b.app/bin/matlab -nodesktop -nosplash $*'

#Task Stuff
alias tl='task list'
alias ta='task add' 
alias tm='task modify'
alias trm='task rm'
alias tn='task next'
alias td='task done'

#alias l='ls'

alias tmuxkill='tmux kill-server'
alias tmuxa="tmux attach-session -t $1"

alias preview="open -a Preview $1"

alias tless="tail +F $1"

alias a=". env/bin/activate"
alias fvim="grep -rnw ~/notes/vim.txt -e $1"
alias f="open ."

alias pb="$EDITOR ~/notes/PasteBin.md"


# Automate the Running of Scripts from Anywhere while saving current location
alias mctimer="pushd ~/scripts/mc-universal-in-game-timer && python main.py; popd"
alias sterm="pushd ~/scripts/GamestonkTerminal && ./dev.sh; popd"


