[user]
	name = Noah Cover
	email = ncover@ucsc.edu
[init]
	templatedir = ~/.git_template
[color]
	ui = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
