temp_dirs/undodir/*
my_plugins/
my_configs.vim
tags
.DS_Store
*.backup


# Credentials
.aws/credentials

#other
.docker/.buildNodeID
.docker/application-template

#Embedded Git Repos
.vim/bundle
.vim/plugged
